* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./components/images/bg-img.jpg);
  background-repeat: repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  color: goldenrod;
}
